<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poll</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-gray-600">

  <header class="bg-gray-800">

    <h1 class="text-5xl p-4 text-blue-100">
      <a href="/">Poll</a>
    </h1>

    <nav>
      <li class="text-white"><a href="/create-poll">Create Poll</a></li>
      {{#if logged_in}}
      <li class="text-white"><a href="/profile">Profile</a></li>
      <button class="no-button" id="logout">Logout</button>
      {{else}}
      <li class="text-white"><a href="/login">login</a></li>
      {{/if}}
    </nav>

  </header>

{{!-- main content --}}
  <main>
    {{{ body }}}
  </main>

  <footer>

    <p class="text-center">&#169 2023 Cameron Hack, Brian Myer & Christian Dziedzic</p>

  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>