<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poll</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-gray-600">

  <header class="bg-gray-800">

    <h1 class="text-8xl text-center p-8 text-blue-100"><a href="/">Poll</a></h1>

    <nav class="container mx-auto w-1/2 flex justify-around">
      <button class="text-white"><a href="/create-poll">Create Poll</a></button>
      {{#if logged_in}}
      <button class="text-white"><a href="/profile">Profile</a></button>
      <button class="no-button" id="logout">Logout</button>
      {{else}}
      <button class="text-white"><a href="/login">Login</a></button>
      {{/if}}
    </nav>

  </header>

{{!-- main content --}}
  <main>
    {{{ body }}}
  </main>

  <footer>

    <p class="text-center">&#169 2023 Cameron Hack, Brian Myer & Christian Dziedzic</p>

  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>