<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VoteWave</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-gray-600">

  <header class="bg-gray-800">

    <h1 class="text-3xl md:text-6xl text-center p-4 text-blue-100"><a href="/">VoteWave</a></h1>

    <nav class="hidden md:flex justify-around container mx-auto w-1/2">
      {{#if logged_in}}
      <button class="text-white"><a href="/dashboard">Profile</a></button>
      {{else}}
      <button class="text-white"><a href="/login">Profile</a></button>
      {{/if}}
    </nav>

  </header>

  {{!-- mobile nav --}}
  <nav class="fixed bottom-0 left-0 right-0 h-20 w-full bg-gray-800 md:hidden flex justify-evenly">

    <button class="text-white"><a href="/"><img src="/images/tester.png"></a></button>

    {{#if logged_in}}
      <button class="text-white"><a href="/dashboard"><img src="/images/tester.png"></a></button>
    {{else}}
      <button class="text-white"><a href="/login"><img src="/images/tester.png"></a></button>
    {{/if}}

  </nav>


  {{!-- main content --}}
  <main>
    {{{ body }}}

    {{!-- modals --}}
    <div class="hidden" id="modals">

      {{!-- success --}}
      <div id="vote-success" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-green-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Success</h2>
        <p>Thank You for your response!</p>
      </div>

      {{!-- errors --}}
      <div id="login-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Login. Please try again.</p>
      </div>
      <div id="signup-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Sign Up. Please try again.</p>
      </div>
      <div id="create-poll-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Create Poll. Please try again.</p>
      </div>
      <div id="create-responses-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Create Responses. Please try again.</p>
      </div>
      <div id="logout-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Logout. Please try again.</p>
      </div>

    </div>
  </main>

  <footer>

    <p class="text-center">&#169 2023 Cameron Hack, Brian Myer & Christian Dziedzic</p>

  </footer>

</body>
</html>