<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VoteWave</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Syne:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-[#131313]">

  <header class="bg-[#0f0f0f]">

    <h1 class="font-main text-3xl md:text-6xl text-center p-4 text-primary"><a href="/">VoteWave</a></h1>

    <nav>

      <div class="hidden md:block absolute top-6 right-28 hover:scale-95">
        <button><a href="/"><img class="w-12" src="/images/home.png"></a></button>
      </div>

      <div class="hidden md:block absolute top-6 right-8 hover:scale-95">
        {{#if logged_in}}
        <button><a href="/dashboard"><img class="w-12" src="/images/profile.png"></a></button>
        {{else}}
        <button><a href="/login"><img class="w-12" src="/images/profile.png"></a></button>
        {{/if}}
      </div>

    </nav>

  </header>

  {{!-- mobile nav --}}
  <nav class="fixed bottom-0 left-0 right-0 h-20 w-full bg-secondary md:hidden flex justify-evenly shadow-top z-10">

    <button><a href="/"><img class="w-12" src="/images/home.png"></a></button>

    {{#if logged_in}}
      <button><a href="/dashboard"><img class="w-12" src="/images/profile.png"></a></button>
    {{else}}
      <button><a href="/login"><img class="w-12" src="/images/profile.png"></a></button>
    {{/if}}

  </nav>


  {{!-- main content --}}
  <main>
    {{{ body }}}

    {{!-- modals --}}
    <div class="hidden" id="modals">

      {{!-- success --}}
      <div id="vote-success" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-green-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Success</h2>
        <p>Thank You for your response!</p>
      </div>

      {{!-- errors --}}
      <div id="login-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Login. Please try again.</p>
      </div>
      <div id="signup-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Sign Up. Please try again.</p>
      </div>
      <div id="create-poll-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Create Poll. Please try again.</p>
      </div>
      <div id="create-responses-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Create Responses. Please try again.</p>
      </div>
      <div id="logout-error" class="opacity-0 transition-opacity duration-100 top-40 right-10 fixed bg-red-400 bg-opacity-50 p-4 rounded-3xl">
        <h2 class="text-2xl mb-4">Error</h2>
        <p>Failed to Logout. Please try again.</p>
      </div>

    </div>

    {{!-- background credit to https://css-generators.com/wavy-shapes/ for the wave generation --}}
    <div class="absolute bottom-0 bg-gradient-to-b from-secondary to-primary w-full h-3/4 md:h-1/3 brightness-200" style="--mask: radial-gradient(136.9px at 50% calc(100% + 122.00px),#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) calc(50% - 122px) calc(50% - 31px + .5px)/244px 62px , radial-gradient(136.9px at 50% -122px,#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) 50% calc(50% + 31px)/244px 62px ; -webkit-mask: var(--mask); mask: var(--mask); z-index: -2;"></div>

    {{!-- blur fake neon --}}
    <div class="absolute bottom-0 w-full h-1/3 backdrop-blur-sm" style="z-index: -2;"></div>

    <div class="absolute bottom-0 bg-gradient-to-b from-secondary to-primary w-full h-3/4 md:h-1/3 backdrop-blur-md" style="--mask: radial-gradient(136.9px at 50% calc(100% + 122.00px),#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) calc(50% - 122px) calc(50% - 31px + .5px)/244px 62px , radial-gradient(136.9px at 50% -122px,#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) 50% calc(50% + 31px)/244px 62px ; -webkit-mask: var(--mask); mask: var(--mask); z-index: -1;"></div>

  </main>

  <footer>

    <p class="text-white text-center">&#169 2023 Cameron Hack, Brian Myer & Christian Dziedzic</p>

  </footer>

</body>
</html>