<div class="text-center">
  <h2>{{name}}</h2>
  <div class="container 2xl:w-1/2 xl:w-3/4 p-4 m-8 mx-auto bg-gray-500 rounded-3xl">
    <h2 class="text-3xl text-center m-2">Create a poll</h2>

    <form class="form new-poll-form">
      <div class="form-group">
        <input class="form-input text-center p-2 m-2 w-1/2 focus:outline-none rounded-lg" type="text" id="poll-name" name="poll-name"
          placeholder="What is the name of your poll?" />
      </div>

      <div class="form-group">
        <textarea class="form-input resize-none text-center p-4 m-2 h-40 w-1/2 focus:outline-none rounded-lg" id="poll-desc" name="poll-desc" placeholder="Tell us a little bit about your poll"></textarea>
      </div>

      {{!-- <div class="form-group">
        <label for="poll-question">Question:</label>
        <input class="form-input" id="poll-question" name="poll-question" placeholder="Question" />
      </div>

      <div class="form-group" id="responses">
        <p id="add-response">&#43;</p>
      </div> --}}

      <div class="form-group">
        <button type="submit" class="p-2 m-2 border-2 rounded-lg bg-red-200 hover:bg-green-200">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/create-poll.js"></script>