<h2>Results</h2>

<div>
    <h3>{{poll.name}}</h3>
    <div id="poll-{{poll.id}} column-chart"></div>
    <div id="poll-{{poll.id}} donut-chart"></div>
    <p>Poll created by {{poll.user.name}} </p>
</div>